@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #16213E;
  --color-primary-dark: #0f162a;
  --color-secondary: #B8D45B;
  --color-secondary-dark: #a3bd51;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1a202c;
  -webkit-font-smoothing: antialiased;
}
